@import "nullstyle.css";

:root{
	--black: #101010;
	--white: #f0f0f0;
}

* {
	background-color: var(--black);
	color: var(--white);
  font-family: "Rubik", Arial, sans-serif;
	text-align: center;
}
#container {
	max-width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
	font-family: "Rubik Mono One", Arial, sans-serif;
}
label {
	margin-bottom: 1.25rem;
}
input {
	border: 0.125rem solid var(--white);
	border-radius: 0.3125rem;
	outline: 0;
	font-size: 1.5rem;
	transition-duration: 0.15s;
	padding: 0.9375rem 1.875rem;
	margin-bottom: 1.5625rem;
}
input:focus {
	box-shadow:
		inset 0rem 0rem 0.625rem var(--white),
		0rem 0rem 0.625rem var(--white);
}
.lite-button {
	border: 0.125rem solid var(--white);
	text-transform: uppercase;
	font-weight: 500;
	padding: 0.625rem 1.5625rem;
	border-radius: 0.3125rem;
	transition-duration: 0.15s;
	margin-bottom: 1.25rem;
}
.lite-button:hover {
	background-color: var(--white);
	color: var(--black);
}
img {
	width: 6.25rem;
	height: 6.25rem;
}
#diceResult {
	margin-bottom: 1.25rem;
}
#diceImages {
	display: flex;
	justify-content: center;
	gap: 1.25rem;
	flex-wrap: wrap;
}
